@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
}
<div class="row" ng-app="app-trips">

  <div ng-view></div>


    <div class="col-md-6">
        <h2>The Map</h2>

        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>

    </div>

</div>
